<div id="banner">
    <div class="banner_content">
        <h1>Cabinet Rails</h1>
        <p>Su Vida Organizada</p>
        <%= link_to "<button>Entrar</button>".html_safe, new_user_registration_path %>
    </div>
</div>

<div id="callouts">
    <div class="callout_inner">
        <div class="wrapper">
            <div class="callout">
                <h2>Organiza</h2>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text.
                It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. 
               
                </p>
            
            </div>
        </div>
    </div>
</div>

<div id="bottom_cta">
    <div class="wrapper">
        <h2>Adelante</h2>
        <br>
        <%= link_to "<button>Unete Ahora</button>".html_safe, new_user_registration_path %>
    </div>
</div>