/*
 *= require_self
*/

 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

@import 'normalize';
@import "global.css.scss";
@import "docs.css.scss";
@import "welcome.css.scss";
